.travel-bar-container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radial-travel-bar {
    display: flex;
    align-items: center; /* vertically align text + bar */
    gap: 12px; /* space between left text, bar, right text */
}

.bar-header {
    margin-bottom: 0px;
    margin-top: 45px;
}
